
$mainColor: #138496;
$secondColor: #E2E2E0;

@mixin detailsStyle {
  color: $secondColor;
  position: absolute;
  font-family: 'Karla', sans-serif;
}

b {
  color: $mainColor;
}

body {
  background: url('../src/img/back1.jpg');
  background-size: cover;
}

.App-clock {
  color: #ffffff;
  position: absolute;
  top: 15px;
  right: 45px;
}

.Counter {
  @include detailsStyle;
  top: 80px;
  right: 100px;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.RightPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  max-width: 200px;
  align-self: center;
}

.Welcome {
  color: #ffffff;
  width: 320px;
  position: absolute;
  left: 45px;
  top: 15px;
}

#welcome-header{
  font-size: 29px;
}

.Welcome-Note {
  font-family: 'Merienda', cursive;
  font-size: 18px;
}

#logo {
  color: $mainColor;
  font-family: 'Lobster', cursive;
  font-size: 35px;
}

#logo2 {
  color: $secondColor;
  font-family: 'Lobster', cursive;
  font-size: 35px;
}

.Welcome-Info {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  width: 500px;
}

.ShowBtn {
  margin-left: 200px;
  margin-bottom: 20px;
  font-family: 'Cormorant Garamond', serif;
}
.Title {
  color: $mainColor;
  padding-top: 30px;
  padding-left: 50px;
  font-family: 'Ubuntu', sans-serif;
}

.CreationDate {
  @include detailsStyle;
  top: 0;
  right: 60px;
  font-size: 20px;
}



.Details-Code {
  @include detailsStyle;
  right: 70px;
  top: 45px;
}

.Details-link {
  @include detailsStyle;
  left: 20px;
  bottom: 20px;
}


.back2 {
  background: url('../src/img/back4.jpg');
  background-size: cover;
}

.mb-3.input-group {
  position: absolute;
  top: 165px;
}

.phase1 {
  width: 300px
}

.Main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 250px;
  margin-right: 85px;
}

.Button-remove {
  position:absolute;
  top:0;
  right:0;
}

.CreateBtn {
  padding-bottom: 30px;
}

Form {
padding-top: 30px;
  padding-bottom: 20px;
}

.Lists {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}

.List-link {
  width: 600px;
  height: 350px;
  padding-left: 0;
  list-style: none;
  padding-right: 100px;
}

.List-code {
  width: 600px;
  height: 500px;
  list-style: none;
}

.Input {
  width: 300px;
  height: 40px;
}







